<div [className]="darkmode == 'darkmode-off' ? 'cards' : 'cards-darkmode'" *ngIf="selectedBrand == 'filter by Region' || selectedBrand == card.region" (click)="singleItem(card)">
  <img src={{card.flag}} alt="flag" class="flags"/>
   <div class="countryName">{{card.name}}</div>
  <div class="countryValues"> <span>population: </span>{{card.population}}</div>
  <div class="countryValues"> <span>region: </span>{{card.region}}</div>
  <div class="countryValues"><span>capital: </span>{{card.capital}}</div>
</div>